body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:856px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:246px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:385px;
  width:504px;
  height:246px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:369px;
  width:300px;
  height:170px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:273px;
  background:inherit;
  background-color:rgba(21, 41, 53, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:112px;
  width:504px;
  height:273px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:198px;
  width:298px;
  height:63px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:63px;
  background-color:transparent;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:318px;
  width:59px;
  height:32px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:32px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:411px;
  width:59px;
  height:32px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:325px;
  width:300px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:413px;
  width:300px;
  height:33px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:33px;
  background-color:#152935;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:39px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:515px;
  width:78px;
  height:39px;
  font-size:16px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:74px;
  word-wrap:break-word;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#152935;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:759px;
  top:534px;
  width:33px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#152935;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:356px;
  width:143px;
  height:25px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:rgba(204, 0, 0, 0.819607843137255);
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:450px;
  width:143px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:rgba(204, 0, 0, 0.819607843137255);
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1150px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
}
#u0_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:246px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0.a {
}
#u1.a {
  left:450px;
  width:700px;
  height:309px;
}
#u1_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:309px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1.a {
  left:450px;
  width:700px;
  height:309px;
}
#u2.a {
  left:450px;
  top:44px;
  width:700px;
  height:325px;
}
#u2_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:325px;
  background:inherit;
  background-color:rgba(21, 41, 53, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2.a {
  left:450px;
  top:44px;
  width:700px;
  height:325px;
}
#u3.a {
  border-width:0px;
  position:absolute;
  left:655px;
  top:149px;
  width:298px;
  height:63px;
}
#u3_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:63px;
  background-color:transparent;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u4.a {
  border-width:0px;
  position:absolute;
  left:578px;
  top:287px;
  width:59px;
  height:32px;
}
#u4_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:32px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u5.a {
  border-width:0px;
  position:absolute;
  left:578px;
  top:404px;
  width:59px;
  height:32px;
}
#u5_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u6.a {
  border-width:0px;
  position:absolute;
  left:664px;
  top:294px;
  width:300px;
  height:25px;
}
#u6_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7.a {
  border-width:0px;
  position:absolute;
  left:664px;
  top:403px;
  width:300px;
  height:33px;
}
#u7_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:33px;
  background-color:#152935;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
}
#u8.a {
  left:768px;
  top:502px;
}
#u8_img.a {
}
#u8.a {
  left:768px;
  top:502px;
}
#u8_text.a {
}
#u9.a {
  left:931px;
  top:521px;
}
#u9_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#152935;
}
#u9.a {
  left:931px;
  top:521px;
}
#u9_text.a {
}
#u10.a {
  border-width:0px;
  position:absolute;
  left:821px;
  top:330px;
  width:143px;
  height:25px;
}
#u10_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:rgba(204, 0, 0, 0.819607843137255);
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u11.a {
  border-width:0px;
  position:absolute;
  left:821px;
  top:452px;
  width:143px;
  height:25px;
}
#u11_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:rgba(204, 0, 0, 0.819607843137255);
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
