﻿body {text-align:center;font-size:16px;margin-top:2px;margin-bottom:2px;}
a {text-decoration:none;}

#navbar{width:100%;margin:20px;margin-top:50px;margin-bottom:80px;border-radius:10px}
#navbar H3{ cursor:pointer; line-height:60px; height:60px; background-color:rgba(255, 255, 255, 1); color:#152935;border-radius:10px;}
#navbar H3:hover{color:rgba(255, 255, 255, 1); background-color:#152935;}
#navbar a{display:block; line-height:50px;color:#152935;background-color:white;position:center;border:1px;border-color:rgb(255, 255, 255, 1);font-size:16px;border-radius:10px;}
#navbar a:hover{color:rgba(255, 255, 255, 1);background-color:#152935;cursor:pointer;}
#navbar div{display:none; border-top:none}

#navbar1{width:100%;margin:15px;margin-top:50px;margin-bottom:90px;border-radius:10px}
#navbar1 H2{ cursor:pointer; line-height:65px; height:65px; background-color:rgba(255, 255, 255, 1); color:#152935;border-radius:10px;}
#navbar1 H2:hover{color:rgba(255, 255, 255, 1); background-color:#152935;}
#navbar1 a{display:block; line-height:50px;color:#152935;background-color:rgba(255, 255, 255, 1);position:center;border:1px;border-color:rgb(255, 255, 255, 1);font-size:25px;border-radius:10px;}
#navbar1 a:hover{color:rgba(255, 255, 255, 1);background-color:#152935;cursor:pointer;}
#navbar1 div{display:block; border-top:none}
