<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="gof.knowledgemirror.dao.UserDao" >

    <select id="selectUserByName" parameterType="String"  resultType="gof.knowledgemirror.pojos.Login">
        SELECT user_password FROM user WHERE user_name = #{arg0}And user_password =#{arg1}
    </select>

</mapper>